{
  "printWidth": 80,
  "singleQuote": true,
  "trailingComma": "es5",
  "jsxBracketSameLine": false,
  "semi": true,
  "tabWidth": 2,
  "useTabs": false,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "quoteProps": "consistent"
}
